BODY
{
	background: white;
	color:black;
    position: relative;
    margin-left: 0mm;
    margin-top: 0mm;
    margin-right: 0mm;
}


.dinA4Et{
background: white;
text-align:justify;
font-family: 'Times New Roman';
margin-left:6mm;
margin-right:6mm;
margin-top: 2mm;
width: 210mm;
}

.dinA4Inv{
background: white;
text-align:justify;
font-family: 'Times New Roman';
margin-left:10mm;
margin-right:10mm;
margin-top:10mm;
width: 210mm;
}

.dinA4Fact{
background: white;
text-align:justify;
font-family: 'Times New Roman';
margin-left:25mm;
margin-right:25mm;
margin-top:90mm;
width: 210mm;
}

.tamanyoTicket{
background: white;
text-align:justify;
font-family: 'Times New Roman';
margin-left:5mm;
margin-right:5mm;
margin-top:10mm;
width: 70mm;
height:50mm;
}

.tabla-etiquetas{
color:black;
padding: 0px;
border-collapse: collapse;
}

.tabla-etiquetas{
padding: 5px;
}

.tabla-ticket{
text-align:center;
}

.tabla-etiquetas tr td{
padding: 0px;
}

.tabla-etiqueta{
width: 52mm;
height: 18mm;
}

.celdaRef {
width: 30mm;
}

.celdaNombre {
width: 90mm;
}
.celdaNombre {
width: 60mm;
}

.celdaPrecio {
width: 40mm;
}
.celdaCoste1 {
width: 35mm;
}

.celdaCoste2 {
width: 35mm;
}

.celdaUni {
width: 30mm;
}

.margen-especial{
height: 28mm;
color: red;
}

